.error {
	color: red;
	font-size: 14px; 
}

#titulo {
	border-bottom: 5px solid #3599dc;;	
}

#subTitulo {
	border-bottom: 2px solid #3599dc;;	
}

.fotoPessoaTabela{
	border-radius: 50%;	
	width: 30px;
	height: 30px;
}

.fotoLogo{
	border-radius: 20%;	
	width: 30%;
	height: 190px;
	margin-left: 35%;
	margin-right: 35%;

}

.cabecalhoMenu {
	border-bottom: 5px solid #3599dc;
}